<div class="form-horizontal">
    <%= form_tag '/adm/config/save' do %>
        <div class="form-group">
            <label class="col-md-3">Data Directory</label>
            <div class="col-md-9">
                <input type="text" name="name" class="form-control" />
            </div>
        </div>
    <% end %>
</div>
