<h1>WALLETS&nbsp;&nbsp;<small>Send</small></h1>
<br /><br /><br />
<div class="col-md-12">
    <div class="form-horizontal">
        <%= form_tag '/page/wallets/send_money_post' do %>
            <div class="form-group">
                <label for="from" class="col-md-2">From</label>
                <div class="col-md-10">
                    <input type="text" name="_from" value="<%= @from_address %>" placeholder="Address" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="from" class="col-md-2">To</label>
                <div class="col-md-10">
                    <input type="text" name="_to" placeholder="Address" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="from" class="col-md-2">Balance</label>
                <div class="col-md-10">
                    <%= @ether_balance %> ether
                </div>
            </div>

            <div class="form-group">
                <label for="from" class="col-md-2">Amount</label>
                <div class="col-md-10">
                    <div class="input-group">
                        <input type="text" id="amount_number" placeholder="Amount" class="form-control" onkeyup="toHex()" />
                        <span class="input-group-addon">ether</span>
                    </div>
                    <input type="hidden" name="_amount" id="amount_hex" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-primary">Send</button>
                    <%= link_to 'Cancel', { action: 'wallets' }, { class: 'btn btn-default' } %>
                </div>
            </div>
        <% end %>
    </div>
</div>

<script type="text/javascript">
function toHex() {
    var theVal = parseInt($('#amount_number').val());
    $('#amount_hex').val(theVal.toString(16));
}
</script>
